<h1>Articles <a href="/articles/new" class="btn btn-success pull-right">Add article</a></h1>

<div class="clearfix"></div>

<div class="row">
  {{#each articles}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><a href="/articles/{{this._id}}">{{this.title}}</a></h4>
        </div>
        <div class="panel-body">
          {{this.body}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
